<h1 class="page-header">
    Usuarios <small>Eliminar</small>
</h1>
<h3>¿Esta seguro de querer eliminar este usuario?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ usuario.NombreUsuario }}</dd>
        <dt>Fecha de Creación</dt>
        <dd>{{ usuario.FechaCreacion | date: 'dd/MM/yyyy' }}</dd>
    </dl>
    <form (ngSubmit)="delete(usuario)">
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a routerLink="/Usuarios/lista">Volver</a>
        </div>
    </form>
</div>