<h1 class="page-header">
    Categorías <small>{{ title }}</small>
</h1>
<form (ngSubmit)="save(categoria)" #categoriaForm="ngForm">
    <div class="form-group">
        <label for="Descripcion">Descripcion</label>
        <input type="text" class="form-control" id="Descripcion" required [(ngModel)]="categoria.Descripcion" name="Descripcion"
               #Descripcion="ngModel">
        <div [hidden]="Descripcion.valid || Descripcion.pristine" class="alert alert-danger">Debe completar la Descripción</div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!categoriaForm.form.valid">Guardar</button>
    <a routerLink="/Categorias/lista">Volver</a>
</form>